<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ mensagem['texto'] }}</h1>
    <form method="post" action="/mensagem/guardar_resposta">
        <input type="hidden" value="{{mensagem['id']}}" name="id_mensagem_original">
        Mensagem: <input type="text" name="texto"><br>
        Utilizador:
        <select name="utilizador">
            {% for utilizador in utilizadores %}
                <option value="{{ utilizador['id'] }}">{{ utilizador['nome'] }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Enviar resposta">
    </form>
    {{ erro }}
    <table>
        <tr>
            <th>Resposta</th>
            <th>Utilizador</th>
            <th>Data</th>
            <th></th>
        </tr>
        {% for registo in registos %}
        <tr>
            <td>{{ registo["texto"] }}</td>
            <td>{{ registo["id_utilizador"] }}</td>
            <td>{{ registo["data_hora_mensagem"] }}</td>
            <td>
                <form method="post" action="/mensagem/apagar">
                    <input type="hidden" name="id" value="{{ registo['id'] }}">
                    <input type="submit" value="Apagar">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>