<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<form>>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/utilizador/apagar_confirmado">
        <h2>Confirma que pretende apagar este utilizador?</h2>
        <br>
        {{ registo['nome'] }}
        <input type="hidden" value="{{ registo['id'] }}" name="id">
        <input type="submit" value="Apagar">
        <a href="/utilizador/listar">Voltar</a>
    </form>
</body>
</html>