<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar</title>
</head>
<body>
    <form method="post" action="/utilizador/editar_confirmado">
        <input type="hidden" name="id" value="{{ registo['id'] }}">
        Nome:<input type="text" value="{{ registo['nome'] }}" name="nome" required placeholder="Introduza o seu nome" /><br>
        Email:<input type="email" value="{{ registo['email'] }}" name="email" required placeholder="Introduza o seu email"><br>
        Palavra Passe:<input type="password" name="palavra_passe"><br>
        <input type="submit" value="Atualizar"><br>
        <a href="/utilizador/listar">Voltar</a>
    </form>
    {{ mensagem }}
</body>
</html>