<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registar</title>
</head>
<body>
    <form method="post" action="/utilizador/registar">
        Nome:<input type="text" name="nome" required placeholder="Introduza o seu nome" /><br>
        Email:<input type="email" name="email" required placeholder="Introduza o seu email"><br>
        Palavra Passe:<input type="password" name="palavra_passe"><br>
        <input type="submit" value="Registar"><br>
    </form>
    {{ mensagem }}
</body>
</html>